.ChatWrapper {
  width: 100%;
  height: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.MessagesList {
  padding: 10px 40px;
  width: 100%;
  flex: 1;
  overflow: auto;
}

.MessagesList::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}
.MessagesList::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

.FooterForm {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
  border-top: 1px solid rgb(226, 226, 226);
}

.MessageInput {
  display: block;
  border: 1px solid rgb(226, 226, 226);
  border-radius: 60px;
  height: 50px;
  outline: none;
  padding: 0 20px;
  width: 100%;
  font-size: 16px;
  margin-top: 10px;
}

.SendBtn {
  width: 40px;
  margin-left: 20px;
}
