.ChatWrapper {
  width: 100%;
  height: 100%;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.MessagesList {
  padding: 10px 40px;
  width: 100%;
  flex: 1;
  overflow: auto;
}

.MessagesList::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}
.MessagesList::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

.MessageForm {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
}

.MessageInput {
  display: block;
  border: 1px solid rgb(226, 226, 226);
  border-radius: 10px;
  height: 50px;
  outline: none;
  padding: 0 10px;
  width: 100%;
}

.SendBtn {
  display: block;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  height: 50px;
  background-color: #00a9d3;
  color: #ffffff;
  font-weight: 600;
  width: 100px;
  margin-left: 40px;
  outline: none;
}
