.JoinWrapper {
  border: 1px solid rgb(226, 226, 226);
  border-radius: 15px;
  padding: 40px;
}

.JoinForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

.NameInput {
  display: block;
  border: 1px solid rgb(226, 226, 226);
  border-radius: 10px;
  height: 35px;
  outline: none;
  padding: 0 10px;
}

.JoinBtn {
  display: block;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  height: 35px;
  background-color: #00a9d3;
  color: #ffffff;
  font-weight: 600;
  width: 100%;
  margin-top: 15px;
}
